.about-banner { 
    position: relative;
     width: 100%;
      height: 400px;
       background: url("/public/images/about-banner.jpg") center/cover no-repeat;
        display: flex;
         align-items: center;
          justify-content: center; } 




.about-text-overlay {
     position: absolute;
      text-align: center; color: white;
       background: rgba(0, 0, 0, 0.5);
        /* Напівпрозорий фон */ padding: 20px;
         border-radius: 10px; } 



.about-container {
  max-width: 1400px;
  margin: 40px auto;
}

/* Стилі для секцій */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background: rgb(226, 236, 238);
  border-radius: 10px;
}


/* Зображення */
.about-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.about-text h2 {
  color: rgb(32, 171, 196);
  font-size: 24px;
}

/* Адаптація для планшетів та менших екранів */
@media (max-width: 1024px) {
  .about-banner {
    height: 350px;
  }

  .about-container {
    max-width: 90%;
  }

  .about-section {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .about-image {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .about-banner {
    height: 300px;
  }

  .about-text h2 {
    font-size: 22px;
  }

  .about-image {
    width: 70%;
  }

  .about-text p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about-banner {
    height: 250px;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    width: 100%;
  }

  .about-text h2 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 13px;
  }
}
